//breakpoints

$desktop-breakpoint: 80rem; // 1280px
$tablet-breakpoint: 48rem; // 768px

//font-weights

$regular: 400;
$demi: 600;
$bold: 700;

//colors

$header: #004359;
$header-icon: #9bbfce;
$button-blue: #09c;
$light-blue: #00c0ff;
$background-grey: #f3f4f5;
$border-grey: #dedede;
$grey: #8C969B;
$white: #ffffff;
$black: #000000;
$orange: #ff9500;
